* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
main{
    background-color: black;
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;

    grid-template-areas: 
    "top  top  top "
    "midleft  midcenter  midright"
    "leftbottom  midcenter  rightbottom"
    
    

}

.top{
    background-color: aqua;
    grid-area: top;
}

.midleft{
background-color: blue;
grid-area: midleft;

}
.midright{
    background-color: aquamarine;
    grid-area: midright;
}
.midcenter{
background-color: blueviolet;
grid-area: midcenter;
}
.leftbottom{
    background-color: brown;
    grid-area: leftbottom;
}
.rightbottom{
    background-color: cadetblue;
    grid-area: rightbottom;
}